.hero {
  position: relative;
  &__img {
    width: 100%;
    object-fit: cover;
  }

  &__title {
    font-family: var(--ff-josefin);
    font-size: 2.4rem;
    text-transform: uppercase;
  }

  &__text-container {
    text-align: center;
    max-width: 90%;
    margin: 3.5rem auto 0;
  }

  &__text {
    color: var(--color-dark-grey-01);
    font-size: 1.2rem;
    font-weight: var(--fw-light);
    line-height: 1.7;
    margin-top: 1.2rem;
  }

  @media (min-width: 1024px) and (max-width: 1440px) {
    display: grid;
    grid-template-columns: 1fr;

    &__img-container {
      width: 80%;
    }

    &__text-container {
      background-color: var(--color-white);
      text-align: left;
      margin: 0;
      padding: 5.5rem;
      width: 40rem;
      position: absolute;
      right: -2rem;
      bottom: 0rem;
    }
  }

  @media (min-width: 1440px) {
    display: flex;

    &__img {
      width: 95%;
    }

    &__text-container {
      background-color: var(--color-white);
      text-align: left;
      position: absolute;
      padding: 7.5rem;
      bottom: -2.5rem;
      right: 12rem;
      width: 50rem;
    }

    &__title {
      font-size: 3.5rem;
    }

    &__text {
      margin-top: 2rem;
    }
  }
}
